In [22]:
import warnings
warnings.filterwarnings('ignore')

In [23]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [24]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [25]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [26]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [27]:
pd.set_option('display.max_rows', 100)
df.dtypes

loan_amnt                     float64
int_rate                      float64
installment                   float64
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
dti                           float64
delinq_2yrs                   float64
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
total_acc                     float64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_amnt               float64
next_pymnt_d                   object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type               object
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
open_acc_6m                   float64
open_act_il                   float64
open_il_12m                   float64
open_il_24m                   float64
mths_since_rcnt_il            float64
total_bal_il                  float64
il_util                       float64
open_rv_12m                   float64
open_rv_24m                   float64
max_bal_bc                    float64
all_util                      float64
total_rev_hi_lim              float64
inq_fi                        float64
total_cu_tl                   float64
inq_last_12m                  float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                  object
debt_settlement_flag           object
dtype: object

In [28]:
# Convert string values to numerical using get_dummies
df = pd.get_dummies(data=df, columns = ['home_ownership', 'verification_status', 'application_type', 'pymnt_plan', 'hardship_flag', 'debt_settlement_flag', 'initial_list_status'])
df.head()

,loan_amnt,int_rate,installment,annual_inc,issue_d,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w
0,10500.0,0.1719,375.35,66000.0,Mar-2019,low_risk,27.24,0.0,0.0,8.0,...,0,1,0,1,0,1,1,1,0,1
1,25000.0,0.2000,929.09,105000.0,Mar-2019,low_risk,20.23,0.0,0.0,17.0,...,0,0,1,1,0,1,1,1,0,1
2,20000.0,0.2000,529.88,56000.0,Mar-2019,low_risk,24.26,0.0,0.0,8.0,...,0,0,1,1,0,1,1,1,0,1
3,10000.0,0.1640,353.55,92000.0,Mar-2019,low_risk,31.44,0.0,1.0,10.0,...,0,0,1,1,0,1,1,1,0,1
4,22000.0,0.1474,520.39,52000.0,Mar-2019,low_risk,18.76,0.0,1.0,14.0,...,1,0,0,1,0,1,1,1,0,1

In [29]:
# Create our features
X = df.drop(columns=['loan_status', 'issue_d', 'next_pymnt_d'])

# Create our target
y = df['loan_status']
y.head()

0    low_risk
1    low_risk
2    low_risk
3    low_risk
4    low_risk
Name: loan_status, dtype: object

In [30]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified,application_type_Individual,application_type_Joint App,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.478007,0.373992,0.148001,0.860340,0.139660,1.0,1.0,1.0,0.123879,0.876121
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.499520,0.483865,0.355104,0.346637,0.346637,0.0,0.0,0.0,0.329446,0.329446
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0,0.000000,0.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,1.000000,0.000000,1.000000,0.000000,1.0,1.0,1.0,0.000000,1.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000

In [31]:
y

0        low_risk
1        low_risk
2        low_risk
3        low_risk
4        low_risk
           ...
68812    low_risk
68813    low_risk
68814    low_risk
68815    low_risk
68816    low_risk
Name: loan_status, Length: 68817, dtype: object

In [32]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [34]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
clf = BalancedRandomForestClassifier(max_depth=2, random_state=1)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [35]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7167806847335809

In [36]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[   48,    53],
       [  713, 16391]], dtype=int64)

In [37]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.06      0.48      0.96      0.11      0.67      0.43       101
   low_risk       1.00      0.96      0.48      0.98      0.67      0.48     17104

avg / total       0.99      0.96      0.48      0.97      0.67      0.48     17205

In [43]:
X.columns

Index(['loan_amnt', 'int_rate', 'installment', 'annual_inc', 'dti',
       'delinq_2yrs', 'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal',
       'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_OWN', 'home_ownership_RENT',
       'verification_status_Not Verified',
       'verification_status_Source Verified', 'verification_status_Verified',
       'application_type_Individual', 'application_type_Joint App',
       'pymnt_plan_n', 'hardship_flag_N', 'debt_settlement_flag_N',
       'initial_list_status_f', 'initial_list_status_w'],
      dtype='object')

In [45]:
# List the features sorted in descending order by feature importance
importances = clf.feature_importances_
std = np.std([tree.feature_importances_ for tree in clf.estimators_],
             axis=0)
indices = np.argsort(importances)[::-1]
print("Feature ranking:")

for f in range(X.shape[1]):
    print("%d. feature %d - %s (%f)" % (f + 1, indices[f],X.columns[f], importances[indices[f]]))

Feature ranking:
1. feature 15 - loan_amnt (0.153241)
2. feature 20 - int_rate (0.147828)
3. feature 14 - installment (0.141654)
4. feature 16 - annual_inc (0.136212)
5. feature 13 - dti (0.108669)
6. feature 53 - delinq_2yrs (0.024383)
7. feature 40 - inq_last_6mths (0.017489)
8. feature 1 - open_acc (0.015539)
9. feature 26 - pub_rec (0.013426)
10. feature 43 - revol_bal (0.012356)
11. feature 44 - total_acc (0.011916)
12. feature 30 - out_prncp (0.011359)
13. feature 58 - out_prncp_inv (0.011072)
14. feature 74 - total_pymnt (0.010924)
15. feature 35 - total_pymnt_inv (0.009215)
16. feature 42 - total_rec_prncp (0.008686)
17. feature 4 - total_rec_int (0.008407)
18. feature 48 - total_rec_late_fee (0.007487)
19. feature 52 - recoveries (0.007417)
20. feature 75 - collection_recovery_fee (0.007339)
21. feature 17 - last_pymnt_amnt (0.007026)
22. feature 5 - collections_12_mths_ex_med (0.006699)
23. feature 72 - policy_code (0.005995)
24. feature 38 - acc_now_delinq (0.005977)
25. feature 31 - tot_coll_amt (0.005768)
26. feature 51 - tot_cur_bal (0.005747)
27. feature 59 - open_acc_6m (0.005682)
28. feature 49 - open_act_il (0.005335)
29. feature 37 - open_il_12m (0.005129)
30. feature 32 - open_il_24m (0.005071)
31. feature 68 - mths_since_rcnt_il (0.004912)
32. feature 3 - total_bal_il (0.004716)
33. feature 12 - il_util (0.004672)
34. feature 6 - open_rv_12m (0.004382)
35. feature 50 - open_rv_24m (0.004360)
36. feature 11 - max_bal_bc (0.004263)
37. feature 25 - all_util (0.004154)
38. feature 67 - total_rev_hi_lim (0.004003)
39. feature 9 - inq_fi (0.003975)
40. feature 41 - total_cu_tl (0.003891)
41. feature 10 - inq_last_12m (0.003652)
42. feature 89 - acc_open_past_24mths (0.003519)
43. feature 36 - avg_cur_bal (0.003355)
44. feature 47 - bc_open_to_buy (0.002785)
45. feature 27 - bc_util (0.002285)
46. feature 56 - chargeoff_within_12_mths (0.002029)
47. feature 73 - delinq_amnt (0.001982)
48. feature 55 - mo_sin_old_il_acct (0.001869)
49. feature 29 - mo_sin_old_rev_tl_op (0.001720)
50. feature 2 - mo_sin_rcnt_rev_tl_op (0.001708)
51. feature 61 - mo_sin_rcnt_tl (0.001446)
52. feature 60 - mort_acc (0.001283)
53. feature 80 - mths_since_recent_bc (0.001252)
54. feature 62 - mths_since_recent_inq (0.000999)
55. feature 34 - num_accts_ever_120_pd (0.000963)
56. feature 69 - num_actv_bc_tl (0.000940)
57. feature 7 - num_actv_rev_tl (0.000938)
58. feature 84 - num_bc_sats (0.000899)
59. feature 77 - num_bc_tl (0.000000)
60. feature 78 - num_il_tl (0.000000)
61. feature 79 - num_op_rev_tl (0.000000)
62. feature 76 - num_rev_accts (0.000000)
63. feature 83 - num_rev_tl_bal_gt_0 (0.000000)
64. feature 81 - num_sats (0.000000)
65. feature 82 - num_tl_120dpd_2m (0.000000)
66. feature 8 - num_tl_30dpd (0.000000)
67. feature 18 - num_tl_90g_dpd_24m (0.000000)
68. feature 85 - num_tl_op_past_12m (0.000000)
69. feature 86 - pct_tl_nvr_dlq (0.000000)
70. feature 87 - percent_bc_gt_75 (0.000000)
71. feature 71 - pub_rec_bankruptcies (0.000000)
72. feature 23 - tax_liens (0.000000)
73. feature 19 - tot_hi_cred_lim (0.000000)
74. feature 70 - total_bal_ex_mort (0.000000)
75. feature 45 - total_bc_limit (0.000000)
76. feature 88 - total_il_high_credit_limit (0.000000)
77. feature 54 - home_ownership_ANY (0.000000)
78. feature 57 - home_ownership_MORTGAGE (0.000000)
79. feature 39 - home_ownership_OWN (0.000000)
80. feature 33 - home_ownership_RENT (0.000000)
81. feature 63 - verification_status_Not Verified (0.000000)
82. feature 64 - verification_status_Source Verified (0.000000)
83. feature 65 - verification_status_Verified (0.000000)
84. feature 28 - application_type_Individual (0.000000)
85. feature 66 - application_type_Joint App (0.000000)
86. feature 24 - pymnt_plan_n (0.000000)
87. feature 46 - hardship_flag_N (0.000000)
88. feature 22 - debt_settlement_flag_N (0.000000)
89. feature 21 - initial_list_status_f (0.000000)
90. feature 0 - initial_list_status_w (0.000000)

### Easy Ensemble AdaBoost Classifier

In [46]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(random_state=1)
eec.fit(X_train,y_train)
y_pred = eec.predict(X_test)

In [47]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.7208915290500051

In [48]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   70,    31],
       [ 4298, 12806]], dtype=int64)

In [49]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.02      0.69      0.75      0.03      0.72      0.52       101
   low_risk       1.00      0.75      0.69      0.86      0.72      0.52     17104

avg / total       0.99      0.75      0.69      0.85      0.72      0.52     17205